{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <div id="bg">

    </div>

    </body>


    <style>
        #bg {
            background-image: url("{{ asset('images/codenames.jpeg') }}");
            position: absolute;
            background-size: cover;
            height: 100vh;
            width: 100vw;
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        body{
            background-color: #F2F0EB;
            margin: 0;
            padding: 0;
        }


    </style>
{% endblock %}
